header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: left;
    align-items: right;
    background-color: #535557;
    border-bottom: 1px solid lightgray;
}

header p {
    font-size: 32px;
    font-weight: 600;
    color: white;
}